[submodule "pswgcommon"]
	path = pswgcommon
	url = git@bitbucket.org:projectswg/pswgcommon.git
[submodule "pswgcommonfx"]
	path = pswgcommonfx
	url = git@bitbucket.org:projectswg/pswgcommonfx.git
[submodule "forwarder"]
	path = forwarder
	url = git@bitbucket.org:projectswg/forwarder.git
[submodule "client-holocore"]
	path = client-holocore
	url = git@bitbucket.org:projectswg/client-holocore.git
